table{
border:1px solid black;
width:100%;
background-color: white ;
}
td{
border:1px solid black;
}

body{
background-color: gray ;		   
}
a:hover {
color: orange;	
}
	

tr:hover {
background-color: yellow ;
}
	
tr:nth-child(odd) {
background-color: brown ;
}

img:hover{
transform : scale(4);	
}

@media only screen and (max-width: 900px) {
    body {
    background-color: lightblue;
    }
}